In [1]:
import pandas as pd
from utils import get_emp_levels, generate_prompt, get_emp_levels

In [2]:
emp_predictions_path = './empathy_data/predictions_EMP.tsv'
test_df = pd.read_csv('./empathy_data/WASSA23_essay_level_test_preproc.tsv', sep='\t')

In [3]:
emp_predictions = pd.read_csv(emp_predictions_path, names=['empathy', 'distress'], sep='\t')
emp_predictions

     empathy  distress
0   4.955124  3.164566
1   5.814331  5.941832
2   5.730997  5.984105
3   3.495793  4.631199
4   5.707178  6.011286
..       ...       ...
95  4.987225  5.798476
96  4.254624  4.177796
97  3.911268  3.480633
98  5.481789  5.866075
99  4.164392  3.476835

[100 rows x 2 columns]

In [4]:
test_df = get_emp_levels(test_df, emp_predictions['empathy'], emp_predictions['distress'])

In [5]:
test_df

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,...,disgust_count,joy_count,hope_count,empathy_count,distress_count,empathy_level,distress_level,prompt_bio,prompt_emp,prompt_emo
0,1192,6,"hi my dear friend, how r you?. Are you use...",45,2,6,1,25,50000,2,...,0.000000,0.214286,0.066667,2.908646,2.725509,medium,medium,An essay written by a 25 years old white femal...,The essay expresses medium empathy and medium ...,The top emotions expressed in the essay are: ...
1,1192,6,The loss of human life is always a tragic even...,65,1,6,1,34,30000,1,...,0.066667,0.044444,0.035714,3.130824,2.885318,high,high,"An essay written by a 34 years old white male,...",The essay expresses medium empathy and medium ...,The top emotions expressed in the essay are: ...
2,1059,6,"Hello mate, it's been a long time since I met ...",53,2,6,1,64,40000,2,...,0.000000,0.058824,0.055556,2.678742,2.543031,high,high,An essay written by a 64 years old white femal...,The essay expresses medium empathy and medium ...,The top emotions expressed in the essay are: ...
3,1059,6,us America and the security council adopts res...,92,2,6,1,35,5000,1,...,0.048780,0.000000,0.000000,2.689422,2.592165,medium,medium,An essay written by a 35 years old white femal...,The essay expresses medium empathy and medium ...,The top emotions expressed in the essay are: ...
4,1060,6,My thought was NATO and government forces are ...,47,2,7,1,34,75000,1,...,0.031250,0.000000,0.000000,2.619263,2.593569,high,high,An essay written by a 34 years old white femal...,The essay expresses medium empathy and medium ...,The top emotions expressed in the essay are: ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1183,19,Check out this story. It is an outrage that so...,143,2,6,1,42,50000,1,...,0.066667,0.100000,0.000000,2.762659,2.734730,medium,high,An essay written by a 42 years old white femal...,The essay expresses medium empathy and medium ...,The top emotions expressed in the essay are: ...
96,1184,19,I just read a story about a person who was bro...,145,1,4,1,63,55000,2,...,0.041667,0.041667,0.000000,2.777718,2.782064,medium,medium,"An essay written by a 63 years old white male,...",The essay expresses medium empathy and medium ...,The top emotions expressed in the essay are: ...
97,1184,19,I just read this article and it's really messe...,144,2,6,3,31,36000,1,...,0.137931,0.034483,0.000000,2.646881,2.650662,medium,medium,An essay written by a 31 years old black or af...,The essay expresses medium empathy and medium ...,The top emotions expressed in the essay are: ...
98,1190,19,I just read about a man who is being deported ...,130,1,2,1,30,36000,2,...,0.133333,0.000000,0.000000,2.758860,2.687240,high,high,"An essay written by a 30 years old white male,...",The essay expresses medium empathy and medium ...,The top emotions expressed in the essay are: ...
99,1190,19,I feel very sorry for the individual in this a...,149,1,7,1,56,275000,1,...,0.041667,0.083333,0.055556,2.821866,2.755671,medium,medium,"An essay written by a 56 years old white male,...",The essay expresses low empathy and low distre...,The top emotions expressed in the essay are: ...

In [6]:
for idx, row in test_df.iterrows():
    _, text_prompt_emp, _ = generate_prompt(
                                row['essay'],
                                row['article_id'],
                                row['gender'],
                                row['education'],
                                row['race'],
                                row['age'],
                                row['income'],
                                row['empathy_level'],
                                row['distress_level']
                                )
    essay = row['essay']
    test_df.at[idx, "essay"] = essay + " " + text_prompt_emp

In [7]:
test_df.to_csv('./empathy_data/WASSA23_essay_level_test_emp.tsv', sep='\t', index=False)