In [23]:
import pandas as pd

TRAIN_22_DATA_PATH = './datasets/WASSA22_train.tsv'
DEV_22_DATA_PATH = './datasets/WASSA22_dev.tsv'
DEV_22_GOLD_PATH = './datasets/goldstandard_dev_2022.tsv'

train_22_df = pd.read_csv(TRAIN_22_DATA_PATH, sep='\t')

dev_22_df = pd.read_csv(DEV_22_DATA_PATH, sep='\t')
dev_22_gold = pd.read_csv(DEV_22_GOLD_PATH, header=None, usecols=[2], names=['emotion'], sep='\t')
dev_22_df = dev_22_df.merge(dev_22_gold, left_index=True, right_index=True, how='outer')

essay_22_df = pd.concat([train_22_df[['essay', 'emotion']], dev_22_df[['essay', 'emotion']]])


DATA2023_PATH = "./datasets/train_essay_level_preproc.tsv"
train2023_df = pd.read_csv(DATA2023_PATH, sep='\t')

In [24]:
essay_22_df

                                                 essay  emotion
0    it is really diheartening to read about these ...  sadness
1    the phone lines from the suicide prevention li...  sadness
2    no matter what your heritage, you should be ab...  neutral
3    it is frightening to learn about all these sha...     fear
4    the eldest generation of russians aren't being...  sadness
..                                                 ...      ...
265  While I feel bad for the arrest charges, I don...    anger
266  This is such a tragedy.  All I can think about...     fear
267  I'm still on the fence regarding climate chang...  neutral
268  I can understand why the Jewish community woul...      joy
269  As a woman, it is very discouraging to see tha...  sadness

[2130 rows x 2 columns]

In [25]:
class_count = essay_22_df['emotion'].value_counts()
class_count

sadness     745
anger       425
neutral     300
fear        225
surprise    178
disgust     161
joy          96
Name: emotion, dtype: int64

In [26]:
HOPE_PATH = './datasetS/english_hope.csv'
hope_df = pd.read_csv(HOPE_PATH, sep="\t")

essay_22_df = pd.concat([essay_22_df [['essay', 'emotion']], hope_df[['essay', 'emotion']]])
essay_22_df

                                                essay  emotion
0   it is really diheartening to read about these ...  sadness
1   the phone lines from the suicide prevention li...  sadness
2   no matter what your heritage, you should be ab...  neutral
3   it is frightening to learn about all these sha...     fear
4   the eldest generation of russians aren't being...  sadness
..                                                ...      ...
49  Ill be honest this speech did not inspire me. ...     hope
50  I played this in my high school engineering (P...     hope
51  It really sucks at least in america you have f...     hope
52  Everyone hating on the girl who disagrees with...     hope
53  I'm 14 and in our school we have a STEM progra...     hope

[2184 rows x 2 columns]

In [30]:
essay_22_df['essay'] = essay_22_df['essay'].replace("’", "'")
essay_22_df['essay'] = essay_22_df['essay'].replace("‘", "'")

In [31]:
essay_22_df = essay_22_df.sample(frac=1).reset_index(drop=True)
essay_22_df

                                                  essay  emotion
0     It's very unfortunate for both the wildlife an...  sadness
1     I feel so bad for Val, he is battling this dis...  sadness
2     I believe protecting nature is extremely impor...  neutral
3     A mother pushed a stroller onto an elevator th...  sadness
4     I just read an article about a democrat runnin...    anger
...                                                 ...      ...
2179  It's interesting that so many people would hav...  neutral
2180  If you're here illegally, you shouldn't be her...    anger
2181  If you are wearing contacts for your vision to...     fear
2182  Thomas referred the case to the full court, an...  neutral
2183  People are still talking about Hillary Clinton...    anger

[2184 rows x 2 columns]

In [32]:
DATA_PATH = './datasets/train_essay_level_additional.csv'
essay_22_df.to_csv(DATA_PATH, index=False, sep='\t')