In [78]:
import pandas as pd

In [79]:
# read training essay level data
hope_data = pd.read_csv('./datasets/english_hope_train.csv', header=None, names=['essay', 'hope', '-'], sep="\t")
hope_data = hope_data.drop(['-'], axis=1)
hope_data

                                                   essay             hope
0      these tiktoks radiate gay chaotic energy and i...  Non_hope_speech
1      @Champions Again He got killed for using false...  Non_hope_speech
2                   It's not that all lives don't matter  Non_hope_speech
3      Is it really that difficult to understand? Bla...  Non_hope_speech
4      Whenever we say black isn't that racists?  Why...  Non_hope_speech
...                                                  ...              ...
22757  It's a load of bollocks every life matters sim...  Non_hope_speech
22758  no say it because all lives matter! deku would...  Non_hope_speech
22759                          God says her life matters  Non_hope_speech
22760  This video is just shit. A bunch of whiny ass ...  Non_hope_speech
22761  Mc Fortnut2821 she did 4 months ago in west ch...  Non_hope_speech

[22762 rows x 2 columns]

In [80]:
hope_data.loc[69].essay # emoji: Ã°\

'....ðŸ¤”........staged set up for the coming race war... still hilarious though ðŸ¤£'

In [81]:
for idx, row in hope_data.iterrows():
    if row['hope'] == 'Non_hope_speech':
        hope_data = hope_data.drop([idx])

hope_data = hope_data.drop(['hope'], axis=1)
hope_data

                                                   essay
9      Network Engineer here- 23 and currently workin...
19     I'm still hiding my gender to my parents and t...
20     all lives matter .without that we never have p...
26     Randomgirlwhosings0804 Why does she feel the n...
45     it doesn't matter what your family does when y...
...                                                  ...
22721  I wish that people werenâ€™t so heartless. She t...
22733  Madonna speaks the truth no superficial how wo...
22737  I know that was so sweet of the boy to to say ...
22738  I could maybe be sympathetic if they were less...
22743  this is inspiring . i'm a mechanical engineeri...

[1984 rows x 1 columns]

In [82]:
import emoji

def emoji_count(s):
    return emoji.emoji_count(s)

for idx, row in hope_data.iterrows():
    if (emoji_count(row['essay']) > 0) or '@' in row['essay']:
        hope_data = hope_data.drop([idx])

hope_data

                                                   essay
9      Network Engineer here- 23 and currently workin...
19     I'm still hiding my gender to my parents and t...
20     all lives matter .without that we never have p...
26     Randomgirlwhosings0804 Why does she feel the n...
45     it doesn't matter what your family does when y...
...                                                  ...
22721  I wish that people werenâ€™t so heartless. She t...
22733  Madonna speaks the truth no superficial how wo...
22737  I know that was so sweet of the boy to to say ...
22738  I could maybe be sympathetic if they were less...
22743  this is inspiring . i'm a mechanical engineeri...

[1797 rows x 1 columns]

In [85]:
hope_data['essay_len'] = hope_data['essay'].apply(lambda x: len(x.split())) # words count for each essay
hope_data

                                                   essay  essay_len
9      Network Engineer here- 23 and currently workin...         28
19     I'm still hiding my gender to my parents and t...         39
20     all lives matter .without that we never have p...         16
26     Randomgirlwhosings0804 Why does she feel the n...         32
45     it doesn't matter what your family does when y...         48
...                                                  ...        ...
22721  I wish that people werenâ€™t so heartless. She t...         30
22733  Madonna speaks the truth no superficial how wo...          8
22737  I know that was so sweet of the boy to to say ...         19
22738  I could maybe be sympathetic if they were less...         97
22743  this is inspiring . i'm a mechanical engineeri...         15

[1797 rows x 2 columns]

In [86]:
# parole max = 160, min = 40

for idx, row in hope_data.iterrows():
    if row['essay_len'] < 40 or row['essay_len'] > 160:
        hope_data = hope_data.drop([idx])
hope_data

                                                   essay  essay_len
45     it doesn't matter what your family does when y...         48
182    I never understood racism. I grew up thinking ...         45
329    +Ancient Soul oh Lord. I don't think you'll ev...        144
625    That's probably because they're still in the c...         97
635    Thank you I am a young girl wanting to be a en...         61
...                                                  ...        ...
22253  I guess this is a better start to getting us b...         46
22404  All lives matter. Cops are abusive to all of u...         88
22492  There are lgbtq persons who do bad things. Tha...         41
22693  All lives matter even little.  EVEN LITTLE ABO...         46
22738  I could maybe be sympathetic if they were less...         97

[270 rows x 2 columns]